

:root {
   --cor-principal: #845EC2;
   --cor-escura:#1D111F;
   --cor-secundaria:#894297;
   }

   
#body {
    background-color: var(--cor-roxa);
}

#rodape {
    background-color: var(--cor-escura);
    color: var(--cor-lilas);
}

#ancora {
    text-decoration: none;
    color: var(--cor-preta);
    font-size: 20px;
    transition:  color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-principal);
    cursor: pointer;
    text-decoration: underline;
}

.habilidades {
    text-decoration: none;
}